body{
  height: 100vh;
  background: #fdf8fc!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    --color-primary: #2a8ad8;
    --color-white: #FBFDFC;
    --color-primary-dark: #1871be;
    --color-secondary: #252c6a;
    --color-error: #eb3437;
    --color-error-dark: #dd3b3e;
    --color-success: #4bb544;
    --color-info: #0ab1ff;
    --color-info-dark: #19abf0;
    --color-dark: #333333;
    --color-dark-dark: #202020;
    --color-green: #039b72;
    --color-green-dark: rgb(52, 158, 130);
    --text-primary-color: #333333;
    --text-secondary-color: #FBFDFC;
    --border-radius: 4px;
    
}

.card{
  overflow: hidden;
  border: 0 !important;
  background: #fff;
  position: relative;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.img-left{
  opacity: 1;
  background: url('../img/login-background.png') ;
  background-size: 100% 600px;
  background-repeat: no-repeat;
  height: auto;
}
.card-body{
  padding: 2rem;
  background: #fdf8fc;
    
}


.title{
  margin-bottom: 2rem;
}

.form-input{
  position: relative;
  color: rgb(233, 210, 213);
  
}

.form-input input{
  width: 100%;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: none;
  border:1px solid #00000020;
  border-radius: 10px;
  outline: none;
  background: #FBFDFC;
  transition: -1s ease-in;
}

.form-input span{
  position: absolute;
  top: 10px;
  padding-left: 15px;
  color: var(--color-dark);
}
.form-input input:focus{
  background: #ebecf0;
}
.form-input input::placeholder{
  /* color: black; */
  padding-left: 0px;
}

.form-input input:focus, .form-input input:valid{
  border: 1px solid #ebecf0;
  box-shadow: 0 0 5px #60e9d5;
  -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
  
}

.form-input input:focus::placeholder{
  color: #352e35!important;
  
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
  background-color: #60e9d5 !important;
  border: 0px;
}

.form-box button[type="submit"]{
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: #039b72;
  color: var(--text-secondary-color);
  font-size: 90%;
  font-weight: bold;
  letter-spacing: .1rem;
  transition: 0.5s;
  padding: 12px;
}

.form-box button[type="submit"]:hover{
  background: var(--color-green-dark);
}
.form-box button[type="submit"]:focus {
  background: #039b72;
}


.forget-link{
  color: var(--color-primary);
  font-size: 15px;
 
  font-family: 'Open Sans', sans-serif;
}
.register-link{
  color: var(--color-primary);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

}

.forget-link:hover{
  color: var(--color-primary-dark);
  text-decoration: none;
}
.register-link:hover{
  color: var(--color-primary-dark);
  text-decoration: none;

}
.form-box .btn-social{
  color: white !important;
  border: 0;
  font-weight: bold;
}
.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-error-dark);
}
h4{font-family: 'Roboto', sans-serif; 
}
.bi-eye-slash{
  color: rgb(35, 67, 71);

}
.have-account{
    font-family: 'Open Sans', sans-serif;
    color: var(--text-primary-color);
    font-size: 15px;
}