@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
}
:root {
	--green: #029670;
	--white: #fdf8fc;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}
body {
	min-height: 100vh;
	overflow-x: hidden;
}

.container_nu {
	position: relative;
	min-width:100vw;
	
}
.navigation_nu {
	position: fixed;
	width: 270px;
	height: 100%;
	background: var(--green);
	border-left: 10px solid var(--green);
	transition: 0.5s;
	overflow: hidden;
}
.navigation_nu.active {
	width: 80px;
}
.navigation_nu ul {
	padding-left: 0 !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation_nu ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation_nu ul li:hover,
.navigation_nu ul li.hovered {
	background: var(--white);
}
.navigation_nu ul li:nth-child(1) {
	margin-bottom: 40px;
	pointer-events: none;
}

.navigation_nu ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--white);
}
.navigation_nu ul li:hover a,
.navigation_nu ul li.hovered a {
	color: var(--green);
	transition: 1s;
}
.navigation_nu ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}
.navigation_nu ul li a .icon ion-icon {
	font-size: 1.75em;
}
.navigation_nu ul li a .title {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}
/* curve outside */
.navigation_nu ul li:hover a::before,
.navigation_nu ul li.hovered a::before {
	content: "";
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: trasparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events: none;
}
.navigation_nu ul li:hover a::after,
.navigation_nu ul li.hovered a::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: trasparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--white);
	pointer-events: none;
}
.logo_nu {
	width: 50%;
	height: 100%;
	margin-left: 68px;
	margin-top: 10px;
	display: block;
}
.main_nu.active .toggle {
	color: var(--white);
	right: 80px;
	left: initial;
	transition: 0.5s;
	
}
.display_name{
	
}

.main_nu.active .logo_nu img {
	display: none;
	opacity: 0;
}

/* main */
.main_nu {
	position: absolute;
	width: calc(100% - 280px);
	left: 270px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
}
.main_nu.active {
	width: calc(100% - 80px);
	left: 80px;
}
.topbar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.toggle {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}

.user {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	/* cursor: pointer; */
	/* left: 450px; */
}
.user img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.dropdown {
	margin-right: 10px;
	justify-content: left;
	position: relative;
	right: 10px;
}

/* card box  */
.cardBoxs {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}
.cardBoxs .cards {
	position: relative;
	background: var(--white);
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBoxs .cards .number {
	position: relative;
	font-weight: 500;
	font-size: 2.5em;
	color: var(--green);
}
.cardBoxs .cards .cardsNames {
	color: var(--black2);
	font-style: normal;
	margin-top: 5px;
	font-weight: 600;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardBoxs .cards .iconBx {
	font-size: 3.5em;
	color: var(--black2);
}
.cardBoxs .cards:hover {
	background: var(--green);
}
.cardBoxs .cards:hover .number,
.cardBoxs .cards:hover .cardsNames,
.cardBoxs .cards:hover .iconBx {
	color: var(--white);
}
.calendar {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 30px;
	min-height: 200px;
}
#calendar{
	color: #352e35!important;
}
h6 {
	color: var(--green);
	margin: 7px!important;
	font-weight: bold!important;
}

/* responsive design */
@media (max-width: 991px) {
	.calendar {
		grid-template-columns: 1fr;
		height: auto;
		width: auto;
	}

	.navigation_nu {
		left: -300px;
	}
	.navigation_nu.active {
		width: 300px;
		left: 0px;
	}
	.main_nu {
		width: 100%;
		left: 0;
	}
	.main_nu.active {
		left: 300px;
	}
	.cardBoxs {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 485px) {
	.cardBoxs {
		grid-template-columns: repeat(1, 1fr);
	}
	.cardHeader h2 {
		font-size: 20px;
	}
	.user {
		min-width: 40px;
	}
	.user img {
		right: -100%;
		left: initial;
		position: fixed;
	}
	.navigation_nu {
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.navigation_nu.active {
		width: 100%;
		left: 0;
	}
	.toggle {
		z-index: 10001;
	}
	.main_nu.active .toggle {
		color: var(--white);
		position: fixed;
		right: 0;
		left: initial;
	}
}

.user_display {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 5px;
}
.containerBox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 30px;
	min-height: 200px;
}

.containerBox .box {
	position: relative;
	background: #fff;
	padding: 20px;
	width: 100%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}
.graphBox1 {
	position: relative;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 30px;
	min-height: 200px;
}

.graphBox1 .box {
	position:relative;
	background: #fff;
	padding: 20px;
	text-align: center;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	width: 100%;
}



.graphBox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 20px;
	min-height: 200px;
}

.graphBox .box {
	position: relative;
	background: #fff;
	padding: 20px;
	width: 100%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}
.calendarBox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 30px;
	min-height: 200px;
}

.calendarBox .box {
	position: relative;
	background: #fff;
	padding: 20px;
	width: 100%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}


/* responsive design */
@media (max-width:991px) {
	.graphBox {
		grid-template-columns: 1fr;
		height: auto;
		width: auto;
	}
	.calendarBox{
		grid-template-columns: 1fr;
			height: auto;
			width: auto;
	}

	.navigation {
		left: -300px;
	}

	.navigation.active {
		width: 300px;
		left: 0px;
	}

	.main {
		width: 100%;
		left: 0;
	}

	.main.active {
		left: 300px;
	}

	.cardBoxs {
		grid-template-columns: repeat(2, 1fr);
	}


}

@media (max-width:485px) {

	.cardBox {
		grid-template-columns: repeat(1, 1fr);
	}
	     .calendarBox {
	     	grid-template-columns: repeat(1fr);
	     	
	     }
	.cardHeader h2 {
		font-size: 20px;
	}

	.user {
		min-width: 40px;
	}

	.user img {
		right: -100%;
		left: initial;
		position: fixed;
	}

	.navigation {
		width: 100%;
		left: -100%;
		z-index: 1000;
	}

	.navigation.active {
		width: 100%;
		left: 0;
	}

	.toggle {
		z-index: 10001;
	}

	.main.active .toggle {
		color: var(--white);
		position: fixed;
		right: 0;
		left: initial;

	}
}